USE [KhranitelPro]
GO
/****** Object:  Table [kp].[departments]    Script Date: 15.04.2026 13:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kp].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kp].[employees]    Script Date: 15.04.2026 13:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kp].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[position] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kp].[group_members]    Script Date: 15.04.2026 13:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kp].[group_members](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_request_id] [int] NOT NULL,
	[row_number] [int] NOT NULL,
	[full_name_initials] [nvarchar](255) NOT NULL,
	[contact_info] [nvarchar](max) NOT NULL,
	[photo_path] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [kp].[group_requests]    Script Date: 15.04.2026 13:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kp].[group_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[purpose_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[visit_comment] [nvarchar](max) NOT NULL,
	[group_leader_last_name] [nvarchar](100) NOT NULL,
	[group_leader_first_name] [nvarchar](100) NOT NULL,
	[group_leader_middle_name] [nvarchar](100) NULL,
	[group_leader_phone] [nvarchar](20) NULL,
	[group_leader_email] [nvarchar](255) NOT NULL,
	[group_leader_organization] [nvarchar](255) NULL,
	[group_leader_birth_date] [date] NOT NULL,
	[group_leader_passport_series] [nvarchar](4) NOT NULL,
	[group_leader_passport_number] [nvarchar](6) NOT NULL,
	[passport_scan_path] [nvarchar](max) NOT NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [kp].[personal_requests]    Script Date: 15.04.2026 13:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kp].[personal_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[purpose_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[visit_comment] [nvarchar](max) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[middle_name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[email_visitor] [nvarchar](255) NOT NULL,
	[organization] [nvarchar](255) NULL,
	[birth_date] [date] NOT NULL,
	[passport_series] [nvarchar](4) NOT NULL,
	[passport_number] [nvarchar](6) NOT NULL,
	[photo_path] [nvarchar](max) NULL,
	[passport_scan_path] [nvarchar](max) NOT NULL,
	[rejection_reason] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [kp].[request_statuses]    Script Date: 15.04.2026 13:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kp].[request_statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kp].[users]    Script Date: 15.04.2026 13:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kp].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [kp].[visit_purposes]    Script Date: 15.04.2026 13:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [kp].[visit_purposes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[purpose_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[purpose_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [kp].[group_requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [kp].[personal_requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [kp].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [kp].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_departments] FOREIGN KEY([department_id])
REFERENCES [kp].[departments] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [kp].[employees] CHECK CONSTRAINT [FK_employees_departments]
GO
ALTER TABLE [kp].[group_members]  WITH CHECK ADD  CONSTRAINT [FK_members_group] FOREIGN KEY([group_request_id])
REFERENCES [kp].[group_requests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [kp].[group_members] CHECK CONSTRAINT [FK_members_group]
GO
ALTER TABLE [kp].[group_requests]  WITH CHECK ADD  CONSTRAINT [FK_group_department] FOREIGN KEY([department_id])
REFERENCES [kp].[departments] ([id])
GO
ALTER TABLE [kp].[group_requests] CHECK CONSTRAINT [FK_group_department]
GO
ALTER TABLE [kp].[group_requests]  WITH CHECK ADD  CONSTRAINT [FK_group_employee] FOREIGN KEY([employee_id])
REFERENCES [kp].[employees] ([id])
GO
ALTER TABLE [kp].[group_requests] CHECK CONSTRAINT [FK_group_employee]
GO
ALTER TABLE [kp].[group_requests]  WITH CHECK ADD  CONSTRAINT [FK_group_purpose] FOREIGN KEY([purpose_id])
REFERENCES [kp].[visit_purposes] ([id])
GO
ALTER TABLE [kp].[group_requests] CHECK CONSTRAINT [FK_group_purpose]
GO
ALTER TABLE [kp].[group_requests]  WITH CHECK ADD  CONSTRAINT [FK_group_status] FOREIGN KEY([status_id])
REFERENCES [kp].[request_statuses] ([id])
GO
ALTER TABLE [kp].[group_requests] CHECK CONSTRAINT [FK_group_status]
GO
ALTER TABLE [kp].[group_requests]  WITH CHECK ADD  CONSTRAINT [FK_group_users] FOREIGN KEY([user_id])
REFERENCES [kp].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [kp].[group_requests] CHECK CONSTRAINT [FK_group_users]
GO
ALTER TABLE [kp].[personal_requests]  WITH CHECK ADD  CONSTRAINT [FK_personal_department] FOREIGN KEY([department_id])
REFERENCES [kp].[departments] ([id])
GO
ALTER TABLE [kp].[personal_requests] CHECK CONSTRAINT [FK_personal_department]
GO
ALTER TABLE [kp].[personal_requests]  WITH CHECK ADD  CONSTRAINT [FK_personal_employee] FOREIGN KEY([employee_id])
REFERENCES [kp].[employees] ([id])
GO
ALTER TABLE [kp].[personal_requests] CHECK CONSTRAINT [FK_personal_employee]
GO
ALTER TABLE [kp].[personal_requests]  WITH CHECK ADD  CONSTRAINT [FK_personal_purpose] FOREIGN KEY([purpose_id])
REFERENCES [kp].[visit_purposes] ([id])
GO
ALTER TABLE [kp].[personal_requests] CHECK CONSTRAINT [FK_personal_purpose]
GO
ALTER TABLE [kp].[personal_requests]  WITH CHECK ADD  CONSTRAINT [FK_personal_status] FOREIGN KEY([status_id])
REFERENCES [kp].[request_statuses] ([id])
GO
ALTER TABLE [kp].[personal_requests] CHECK CONSTRAINT [FK_personal_status]
GO
ALTER TABLE [kp].[personal_requests]  WITH CHECK ADD  CONSTRAINT [FK_personal_users] FOREIGN KEY([user_id])
REFERENCES [kp].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [kp].[personal_requests] CHECK CONSTRAINT [FK_personal_users]
GO
